.advantages {
    color: $black-light;

    &__h2 {
        margin-bottom: 2.5rem;
    }
    
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__icon {
        position: relative;
        display: inline-block;
        min-width: 3.75rem;
        min-height: 3.75rem;
        margin-right: 1.5rem;

        &:before,
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
        }

        &:after {
            top: 50%;
            left: 50%;
            height: 2.25rem;
            width: 2.25rem;
            transform: translate(-50%, -50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:before {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $green;
        }
    }

    &__icon_1 {
        &:after {
            background-image: url("../../public/media/images/advantage-1.png");
        }
    }

    &__icon_2 {
        &:after {
            background-image: url("../../public/media/images/advantage-2.png");
        }
    }

    &__icon_3 {
        &:after {
            background-image: url("../../public/media/images/advantage-3.png");
        }
    }

    &__icon_4 {
        &:after {
            background-image: url("../../public/media/images/advantage-4.png");
        }
    }

    &__number {
        display: none;
    }
}

@media screen and (min-width: $sm) {
    .advantages {
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            display: block;
            width: calc(50% - 2rem);
            margin-bottom: 6.5rem;
        }

        &__icon {
            margin-bottom: 2rem;
        }

        &__number {
            display: block;
            position: absolute;
            right: 2rem;
            top: -1rem;
            font-family: $oswald;
            font-weight: 400;
            line-height: 1;
            color: $gray-light;
            font-size: 12rem;
            z-index: -1;
        }
    }
}

@media screen and (min-width: $md) {
    .advantages {
        &__h2 {
            margin-bottom: 3.5rem;
        }

        &__item {
            width: calc(25% - 4rem);
        }
    }
}