.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $green;
    font-family: $oswald;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: $white;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;

    &:hover {
        background-color: $green-dark;
    }

    &:active {
        color: rgba(255, 255, 255, 0.5);
    }

    &_gray {
        color: $black-light;
        background-color: $gray-light;

        &:hover {
            background-color: #ebebeb;
        }
    
        &:active {
            color: $black-light;
            opacity: .5;
        }
    }
}