.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $green;
    font-family: $oswald;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: $white;
    text-align: center;
    text-decoration: none;
    border: none;

    &_gray {
        color: $black-light;
        background-color: $gray-light;
    }
}