.example {
    position: relative;
    padding: 2rem 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: $black-light;
    background-color: $gray-light;

    &__container {
        position: relative;
        justify-content: center;
    }

    &__h2 {
        margin-bottom: 2.5rem;
    }

    &__p {
        margin-bottom: 2rem;
    }

    &__counters {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    &__counter-item {
        position: relative;
        display: inline-block;
        width: calc(50% - 1rem);
        padding: 1.5rem 0;
        border: 1px solid $gray;
        border-radius: .25rem;
        text-align: center;
    }

    &__counter-value {
        font-family: $oswald;
        font-size: 1.5rem;
        color: $black;
    }

    &__counter-label {
        position: absolute;
        bottom: -1.2rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1rem;
        background-color: $gray-light;
    }

     &__expenses {
        margin-bottom: 2.75rem;
        font-family: $oswald;
        font-size: 1rem;
        color: $black;
        text-align: center;
     }

     &__comparison {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     &__window {
         position: relative;
         height: 16rem;
         width: 100%;
         margin-bottom: 2.5rem;
         overflow: hidden;
     }

     &__picture {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
     }

     &__picture_before {
        clip-path: polygon(0 0, 50% 0%, 50% 100%, 0% 100%);
        z-index: 100;
     }

     &__picture_after {
        z-index: 10;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }

     &__img {
        display: block;
        height: 100%;
        width: auto;
     }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        display: inline-block;
        padding: 0;
        background: none;
        border: none;
        font-family: $oswald;
        font-size: 1rem;
        color: $black;
    }

    &__label {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 1.5rem;
    }

    &__switch {
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            display: block;
            height: .8rem;
            width: 5.2rem;
            border-radius: .4rem;
            background-color: $white;
            border: 1px solid $gray;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            height: .4rem;
            width: 2.5rem;
            background-color: $green;
            border-radius: .2rem;
        }
    }

    &__checkbox {
        display: none; 

        &:not(:checked) ~ .example__switch::after{
            left: .3rem;
        }

        &:checked ~ .example__switch::after{
            right: .3rem;
        }
    }
}

@media screen and (min-width: $sm) {
    .example {
        background: linear-gradient(to bottom, #fff 55%, #f2f2f2 45%);

        &__section {
            margin-bottom: 0;
        }

        &__values {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__counters {
            width: 50%;
        }

        &__counter-value {
            font-size: 2rem;
        }

        &__counter-label {
            background-color: $white;
        }

        &__expenses {
            width: 14rem;
            font-size: 1.5rem;
            text-align: right;
        }

        &__window {
            height: 31rem;
        }

        &__controls {
            width: 60%;
        }

        &__switch {
            position: relative;
            display: inline-block;
            width: 100%;

            &:before {
                content: "";
                position: relative;
                display: block;
                height: .5rem;
                width: 100%;
                border-radius: .4rem;
                background-color: $gray;
                border: none;
            }
    
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                height: .5rem;
                width: .5rem;
                border: .8rem solid $white;
                background-color: $green;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (min-width: $md) {
    .example {
        padding-top: 0;
        padding-bottom: 4.5rem;
        background: linear-gradient(to bottom, #fff 22%, #f2f2f2 22%);

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__content {
            width: 35%;
        }

        &__h2 {
            position: absolute;
            top: 0;
            left: 4rem;
        }

        &__p {
            margin-bottom: 4rem;
            line-height: 1.4;
        }

        &__values {
            flex-wrap: wrap;
        }

        &__counters {
            width: 100%;
            margin-bottom: 4rem;
        }

        &__counter-label {
            width: fit-content;
            bottom: -0.5rem;
            background-color: $gray-light;
        }

        &__expenses {
            width: fit-content;
            margin-bottom: 0;
            text-align: left;
        }

        &__controls {
            width: 100%;
        }

        &__comparison {
            width: 50%;
        }

        &__switch {
            position: relative;
            display: inline-block;
            width: 100%;
        }
    }
}