.footer {
    padding-top: 2.5rem;

    &__logo {
        display: block;
        margin: 0 auto 2rem auto;
    }

    &__social {
        display: inline-flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid $gray-light;
    }

    &__social-link {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

@media screen and (min-width: $md) {
    .footer {
        padding: 4rem 0;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__logo {
            margin: 0;
        }

        &__social {
            padding: 0;
            border-top: none;
        }
    }
}