.form {
    width: 100%;
    font-family: $oswald;
    font-size: 1rem;
    padding-top: 3rem;

    &__h1 {
        margin-bottom: 1rem;
    }

    &__subtitle {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__fieldset {
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
        border: none;
    }

    &__container_bordered {
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__bordered-wrapper {
        width: 100%;
    }

    &__label-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__label {
        display: inline-block;
        margin-right: .5rem;
    }

    &__check-label {
        display: flex;
        justify-content: center;
    }

    &__radio {
        display: none;

        &:checked + label > span:after  {
            content: "";
            display: block;
            height: .75rem;
            width: .75rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $green;
            border-radius: 50%;
        }
    }

    &__radio-icon {
        position: relative;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1rem;
        border: 1px solid $gray;
        border-radius: 50%;
    }

    &__checkbox {
        display: none;

        &:checked + label > span:after  {
            content: "";
            display: block;
            height: 1.5rem;
            width: .75rem;
            position: absolute;
            top: 20%;
            left: 70%;
            transform: translate(-50%, -50%) rotate(45deg);
            border-bottom: 1px solid $green;
            border-right: 1px solid $green;
        }
    }

    &__checkbox-icon {
        position: relative;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1rem;
        border: 1px solid $gray;
    }

    &__field {
        border: 1px solid $gray-light;
        padding: .5rem;
        flex-grow: 1;
    }

    &__field_email {
        padding-right: 3rem;
        background-image: url("../../public/media/images/mail.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) center;
    }

    &__field_phone {
        padding-right: 3rem;
        background-image: url("../../public/media/images/phone.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) center;
    }

    &__legend {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;

        &:after {
            content: "";
            display: inline-block;
            border-top: 2px solid $green;
            flex-grow: 1;
        }
    }

    &__legend {
        display: block;
        max-width: 51%;
        background-color: $white;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-left: -1rem;

    }

    &__line {
        &:before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            border-bottom: 2px solid $green;
            top: 1.5rem;
            z-index: -1;
        }
    }

    &__textarea {
        width: 100%;
        resize: none;
        padding: 1rem;
        box-sizing: border-box;
        font-family: $oswald;
        font-size: 1rem;
        border: 1px solid $gray;
    }

    &__submit {
        width: 100%;
    }

    &__warning {
        display: block;
        margin-top: 1rem;
        font-family: $oswald;
        font-size: .75rem;
        color: $black-light;
        text-align: center;
    }
}

@media screen and (min-width: $md) {
    .form {
        &__container_bordered {
            padding-top: 0;
            padding-bottom: 0;
            border: none;
        }

        &__bordered-wrapper {
            border: 1px solid $gray-light;
            padding: 1.5rem;
        }

        // &__chekboxes {
        //     display: flex;
        //     justify-content: space-between;
        //     flex-wrap: wrap;
        // }

        // &__checkbox-item {
        //     width: calc(50% - 2rem);
        // }
    }
}