.h1 {
    margin: 0;
    font-family: $oswald;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1;
    color: $white;
    text-align: center;
}

@media screen and (min-width: $lg) {
    .h1 {
        font-size: 4rem;
    }
}