.hero { 
    position: relative;
    font-family: $oswald;
    font-weight: 400;
    line-height: 1;
    color: $white;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 65%;
        top: 0;
        left: 0;
        background-image: url("../../public/media/images/index-background-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;

        z-index: -1;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    &__title {
        position: relative;
        z-index: 100;
    }

    &__h1 {
        margin-bottom: 1.5rem;
        color: inherit;
    }

    &__subtitle {
        margin-bottom: 2rem;
        font-size: 1rem;
        color: inherit;
        text-align: center;
    }

    &__picture-container {
        position: relative;
        margin-bottom: 1.5rem;
    }

    &__image {
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    &__button {
        display: block;
    }
}

@media screen and (min-width: $sm) {
    .hero {
        color: $black;
        text-align: left;
        
        &:before {
            background: none;
        }
        
        &__container {
            align-items: flex-start;
            min-height: 810px;
            padding-top: 3rem;
            margin-left: 7rem;
            padding-left: 0;
            min-width: 10rem;
        }

        &__title {
            max-width: 18rem;;
        }

        &__h1 {
            width: 100%;
            margin-bottom: 1rem;
            text-align: left;
        }
    
        &__subtitle {
            width: 100%;
            font-size: 1.5rem;
            text-align: left;
        }

        &__image {
            position: absolute;
            max-width: 709px;
            top: 11rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

@media screen and (min-width: $lg) {
    .hero {
        background-image: url("../../public/media/images/index-background-desktop.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-x: 100%;

        &__container {
            justify-content: center;
            padding-top: 0;
            margin-left: 10%;
        }

        &__title {
            max-width: 26rem;
        }

        &__h1 {
            font-size: 3.75rem;
        }

        &__image {
            position: absolute;
            left: 60%;
            z-index: 1;
        }
    }
}