.join {
    &__header {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    &__h3 {
        padding-right: 2rem;
    }

    &__item {
        display: block;
        width: 50%;
    }

    &__map {
        content: "";
        display: block;
        background-color: $gray;
        height: 20rem;
    }
}