.join {
    position: relative;
    
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    &__h3 {
        padding-right: 2rem;
    }

    &__item {
        display: block;
        width: 45%;
    }

    &__map {
        content: "";
        display: block;
        background-color: $gray;
        height: 20rem;
    }
}

@media screen and (min-width: $sm) {
    .join {
        &__item {
            width: 25%;
        }
    }
}

@media screen and (min-width: $md) {
    .join {
        &__section {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: $lg) {
    .join {
        
        &__container {
            padding: 0 8rem;
        }

        &__header {
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translateY(-50%);
            max-width: 50%;
            padding: 4rem 6rem;
            background-color: $white;
            box-sizing: border-box;
        }

        &__item {
            width: 50%;
        }

        &__map {
            height: 40rem;
        }
    }
}