// Fonts
$oswald: 'Oswald', sans-serif;

// Palette
$white: #ffffff;
$black: #222222;
$black-light: #3e4242;
$gray-light: #f2f2f2;
$gray: #d8d8d8;
$gray-dark: #444444;
$red: #FF8282;
$green: #68B738; 
$green-dark: #5EAA2F; 


//Breakpoints
$xs: 368px;
$sm: 768px;
$md: 992px;
$lg: 1300px;